@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 0.8rem;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(208, 201, 201);
    border-radius: 10px
}

